In [7]:
import os
cur_dir = os.listdir(os.curdir)
if "cluster_viz.ipynb" not in cur_dir:
    os.chdir("cs657_mining_massive_datasets/craigslist_clustering/src")
    print(os.listdir(os.curdir))

In [8]:
import numpy as np
import pandas as pd

In [69]:
def get_cluster_results(fn="km_cluster_results.npz"):
    arr = np.load(fn).items()[0][1]
    cluster_list = [[x[0][0], x[0][1], x[1]] for x in arr]
    cols = ["x" + str(i+1) for i in range(0, len(cluster_list[0]) - 1)] + ["y"]
    return pd.DataFrame(cluster_list, columns=cols)

In [14]:
def get_model(fn="test.npz"):
    model = np.load(fn)
    print(model)
    return model

In [ ]:
def viz_in_3d(df):
    # Visualize cluster shapes in 3d.

cluster1=df.loc[df['y'] == 0]
cluster2=df.loc[df['y'] == 1]
cluster3=df.loc[df['y'] == 2]

scatter1 = dict(
    mode = "markers",
    name = "Cluster 1",
    type = "scatter3d",    
    x = cluster1.as_matrix()[:,0], y = cluster1.as_matrix()[:,1], z = cluster1.as_matrix()[:,2],
    marker = dict( size=2, color='green')
)
scatter2 = dict(
    mode = "markers",
    name = "Cluster 2",
    type = "scatter3d",    
    x = cluster2.as_matrix()[:,0], y = cluster2.as_matrix()[:,1], z = cluster2.as_matrix()[:,2],
    marker = dict( size=2, color='blue')
)
scatter3 = dict(
    mode = "markers",
    name = "Cluster 3",
    type = "scatter3d",    
    x = cluster3.as_matrix()[:,0], y = cluster3.as_matrix()[:,1], z = cluster3.as_matrix()[:,2],
    marker = dict( size=2, color='red')
)
cluster1 = dict(
    alphahull = 5,
    name = "Cluster 1",
    opacity = .1,
    type = "mesh3d",    
    x = cluster1.as_matrix()[:,0], y = cluster1.as_matrix()[:,1], z = cluster1.as_matrix()[:,2],
    color='green', showscale = True
)
cluster2 = dict(
    alphahull = 5,
    name = "Cluster 2",
    opacity = .1,
    type = "mesh3d",    
    x = cluster2.as_matrix()[:,0], y = cluster2.as_matrix()[:,1], z = cluster2.as_matrix()[:,2],
    color='blue', showscale = True
)
cluster3 = dict(
    alphahull = 5,
    name = "Cluster 3",
    opacity = .1,
    type = "mesh3d",    
    x = cluster3.as_matrix()[:,0], y = cluster3.as_matrix()[:,1], z = cluster3.as_matrix()[:,2],
    color='red', showscale = True
)
layout = dict(
    title = 'Interactive Cluster Shapes in 3D',
    scene = dict(
        xaxis = dict( zeroline=True ),
        yaxis = dict( zeroline=True ),
        zaxis = dict( zeroline=True ),
    )
)
fig = dict( data=[scatter1, scatter2, scatter3, cluster1, cluster2, cluster3], layout=layout )
# Use py.iplot() for IPython notebook
plotly.offline.iplot(fig, filename='mesh3d_sample')

In [ ]:
def create_heatmap(df):
    # split df into cluster groups
    grouped = df.groupby(['y'], sort=True)

    # compute sums for every column in every group
    sums = grouped.sum()
    n_labels = len(df["labels"].unique())
    x_names = ["doc" + str(i+1) for i in range(0, df.shape[0] - 1)]
    y_labels = ["topics" + str(i+1) for i in range(0, n_labels]]
    data = [go.Heatmap(z=sums.values.tolist(), y=y_labels, x= x_names, colorscale='Viridis')]
    plotly.offline.iplot(data, filename='pandas-heatmap')

In [67]:
cluster_results = get_cluster_results()
# cluster_results[:5]
cluster_results.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x1</th>
      <th>x2</th>
      <th>label</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-0.134278</td>
      <td>0.047625</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-0.249774</td>
      <td>0.015098</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-0.040427</td>
      <td>0.028730</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-0.145335</td>
      <td>0.012527</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-0.220190</td>
      <td>-0.048697</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [62]:
import pylab as pl
def twoD_viz(cluster_results):
    for i in range(0, len(cluster_results)):
        if cluster_results[i][2] == 0:
            c1 = pl.scatter(cluster_results[i][0], cluster_results[i][0], c='r', marker='+')
        elif cluster_results[i][2] == 1:
            c2 = pl.scatter(cluster_results[i][0], cluster_results[i][0], c='g', marker='o')
    pl.legend([c1, c2], ['cluster1', 'cluster2'])
    pl.title('Iris dataset with 2 clusters and known outcomes')
    pl.show()

In [58]:
cluster_params = (
    {"k":[5]},
    {"n_iters": [100],},

    "bimeans": {
                   "step_zize":[0.5, 0.4],
                   "batch_frac": [0.35],
                   "reg": [0.02]},

               "lda":{
    "doc_con":[0/5],
    "topic_con": [0.3]
}

)